{{ extends 'global/Page.html' }}
{{ block title }} Virtual Team Meeting {{ endblock }}
{{ block content }}
<style>
    .column {
        float: left;
        height: 80vh; /* Responsive height */
        box-sizing: border-box;
    }
    .left {
        width: 80%;
    }
    .right {
        width: 20%;
        vertical-align: middle;
        border: 1px solid #000;
    }

    /* Row style with maximum width and responsive adjustments */
    .row {
        width: 100%;
        max-width: 100%;
        margin: 0 auto; /* Center align the row */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    #meet {
        width: 100%;
        height: 80vh; /* Set the height to 100% of the viewport height */
    }
    .my-box {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
    }
    .my-box1 {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
        display:none;
    }
    #displaymessage {
        display: none;
    }
    .center-container {
      display: flex;
      justify-content: center; /* horizontal center */
      align-items: center;     /* vertical center */
        text-align: center;
          line-height: 1.5;
    }


     label {
        display: inline-block;
    }
    .my-box {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
    }
    .checkbox-container {
        display: flex;
        align-items: flex-start;
    }
    .checkbox-container input {
        margin-right: 10px;
        align-self: center;
    }
    .checkbox-label {
        display: inline-block;
    }
    .radio-container {
        margin-top: 10px;
    }
    .radio-option {
        display: flex;
        align-items: center;
        margin-right: 10px; /* 10px left margin for each option */
    }
    .radio-option input {
        margin-right: 10px;
    }


    /* Responsive layout */
    @media (max-width: 1200px) {
        .row {
            max-width: 1000px;
        }
    }

    @media (max-width: 1000px) {
        .row {
            max-width: 800px;
        }
    }

    @media (max-width: 800px) {
        .row {
            max-width: 600px;
        }
    }

    @media (max-width: 600px) {
        .row {
            max-width: 100%;
        }

        .column {
            float: none;
            width: 100%;
            height: 80vh; /* Adjust height to auto for small screens */
        }

        .left, .right {
            width: 100%;
        }

        .right {
            margin-top: 20px;
            border: none;
             display: flex;
            justify-content: center; /* horizontal center */
            align-items: center;
        }
    }

</style>
<div id="myHeader" class="otree-title page-header"></div>

<div id = "box1" class="my-box">
    <div id="message">
    The virtual team meeting has started and you have a total of <b>7 minutes to discuss vacation types. In the Jitsi meeting, you can see a timer at the top center.</b> The virtual team meeting then ends automatically and you will proceed to the next page.
    <br/><br/>

        <div style="background-color: #F2F2F2; padding: 10px;  border: 2px solid gray;  margin: 0;">
            <b>Note:</b>
            <ul>
                <li>You can click on <b>^ above the "Mute / Unmute" (microphone) icon </b>to select the microphone and speaker you want to use. This might help if your <b>currently selected microphone or speaker do not work</b>.
                <br/>"Mute / Unmute" (microphone) icon:
                    <img src="{% static 'Picture_Microphone.jpg' %}" alt="microphone-icon"/></li>

                <li>If you have several cameras, you can choose which camera is used by clicking on <b>^ above the "Start/Stop camera" icon</b>. It is mandatory to keep the camera turned on during the meeting.
                <br/>"Start/Stop camera" icon:
                    <img src="{% static 'Picture_Camera.jpg' %}" alt="camera-icon"/></li>
                <li>In the pop-up message that requires you to select a video background, please select one of the available images as your virtual background.
                <br/></li>
		<li>If your camera or microphone is not functioning properly, please make sure you have allowed microhone and camera access in your browser settings (Click Browser Settings or to the Left of the address bar) .
                <br/></li>

               <li> Each team member is given a name "O" during <b>Stage 2 and Stage 3</b>.
                <br/>
                There is <b>no hierarchy</b> based on the names. In the Jitsi meeting, you can see the names of each team member in the <b>bottom left corner of each screen</b>.
                </li>
                </ul>
        </div>
    </div>
</div>


    <div id="videopanel" class="row">
        <div class="column left">
            <div id="meet"></div>
        </div>
        <div id="container" class="column right">
            {{ if player.treatmentNumber == 3 }}
              <div id = "messageTreatment" class="center-container">

                  In this meeting, focus on engaging with others by actively communicating with them.

              </div>
            {{ endif }}
        </div>
        <script>
            {{ if player.treatmentNumber == 3 }}
            const box = document.getElementById("messageTreatment");
            const computedStyles = window.getComputedStyle(box);

            const totalHeight = box.clientHeight; // Includes padding but not border
            console.log(totalHeight);
            const lineHeight = 4
            console.log(lineHeight);
            const numLines = Math.floor(totalHeight / lineHeight); // Number of lines in the box
            console.log(numLines);
            const modifiedLineCount = numLines - 5; // Subtract 4 from the number of lines
            console.log(modifiedLineCount);
            const brCount = Math.floor(modifiedLineCount / 2); // Half of the remaining lines
            console.log(brCount);

                    // Create the <br> tags to add before the content
            let brTags = "";
            for (let i = 0; i < brCount; i++) {
              brTags += "<br/>";
            }

            // Add the <br> tags before the current content of the box
            let modifiedText = brTags + box.innerHTML;


            // Insert the modified text into the DOM
            document.getElementById("messageTreatment").innerHTML = modifiedText;
             {{ endif }}
  </script>

    </div>


    <div id="nextButtonContainer" style="display:none;">
        <button id="nextButton">Next</button>
    </div>


<div id = "description"  type = "hidden" class="my-box1">
 <div class="my-box">

    <p>During the virtual team meeting, could you <b>hear and see both of the other two team members?</b></p>

    <form>
        <div class="radio-container">


            <div class="radio-option">
                <input type="radio" id="yes" name="seehearyes" value="yes" onchange="updateSeeHear(this.value)">
                <label for="yes">Yes, I could hear and see both of the other two team members.</label>
            </div>


            <div class="radio-option">
                <input type="radio" id="maybe" name="seehearyes" value="maybe" onchange="updateSeeHear(this.value)">
                <label for="maybe">I could hear and understand the person overall, despite microphone or connection interruptions.</label>
            </div>

            <div class="radio-option">
                <input type="radio" id="no" name="seehearyes" value="no" onchange="updateSeeHear(this.value)">
                <label for="no">No, I could not hear and see one or both of the other two team members throughout the call.</label>
            </div>
            <input id="hiddenSeeHear" type="hidden" name="seeHear" value="1"/>
        </div>
    </form>
    <script>
        function updateSeeHear(selectedValue) {
            var seeHear = document.getElementById("hiddenSeeHear");
            if (selectedValue === 'yes') {
                seeHear.value = 1;
            } else if (selectedValue === 'no') {
                seeHear.value = 0;
            } else if (selectedValue === 'maybe') {
                seeHear.value = 2;
            } else {
                seeHear.value = 1;
            }
        }
    </script>
</div>



      <!--  <div style="background-color: #F2F2F2; padding: 10px;  border: 2px solid gray;  margin: 0;">
            <b>Stage 3: Instructions</b>
            <br/><br/>
            The decision-making task consists of <b>10 identical, consecutive rounds</b>.
            <br/><br/>
            Imagine that you and the other two members of your group belong to a virtual team of a firm. You can think of a round as being a workweek. In each week, each of the virtual team members spends 40 hours working for the firm. You must choose how to allocate your time between two projects, Project A and Project B.
            <br/><br/>
            <b>Project A:</b> This project is a <b>team project</b>. The success of this project depends on all members in your virtual team and is determined by the contribution of the team member who contributes the least.
            <br/><br/>
            <b>Project B:</b> Think of this project as your <b>individual project</b>. It has been assigned to you by the firm and you are solely responsible for its success.
            <br/><br/>
            <b>In each round, we will ask you how many hours you contribute to the Team Project A.</b> The available choices are <b>0 hours, 10 hours, 20 hours, 30 hours, and 40 hours</b>. <b>Your remaining hours will be put towards Project B.</b> For example, if you contribute 30 hours to Project A, this means that 10 hours will be put towards Project B.
            <br/><br/>
            <b>For your decision, you have to consider the following conditions:</b> Working on the Team Project A generates higher costs for you than working on your Individual Project B. Specifically, each hour that you contribute to Project A instead of Project B generates additional costs of 5 ECU, which will be deducted from your personal payoff in the respective round. Note further, that we will also ask the other two members of your virtual team how they allocate their time to your Team Project A and their own Individual Project B.
            <br/> <br/>
            You will find detailed information on individual payoff on the next page.
         </div>-->
</div>



<script src="https://haps-meeting.k8s.iism.kit.edu/external_api.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@ffmpeg/ffmpeg@0.11.0/dist/ffmpeg.min.js"></script>


<script>
    console.debug("is dropout");
    const domain = "haps-meeting.k8s.iism.kit.edu"; //Here goes your domain where the meeting takes place.
    const NameParam = {{player.id_in_group}} % 4;
    let TN_name="O";

    // adjust information to display
    const treatment = {{ player.treatmentNumber}};
    // treatment = 1: control
    // treatment = 2: self-view
    // treatment = 3: message
    const options = {
        roomName: "Video Meeting" + {{player.group_id}}, //This is the name of the room, with player's group ID
        parentNode: document.querySelector('#meet'), //Now, you declare here which element should parent your stream.
        configOverwrite: {
            prejoinConfig: {
                enabled: false
            },
            disableSelfView: treatment===2,
            startWithAudioMuted: false,
            startWithVideoMuted: false,
            filmstrip: {
                disableResizable: true,
            },
            participantsPane: {
                hideModeratorSettingsTab: true,
                hideMoreActionsButton: true,
                hideMuteAllButton: true
            },
	        disableAEC: false, // Acoustic Echo Cancellation
            disableNS: false,  // Noise Suppression
            resolution: 480,
                constraints: {
                    video: {
                        height: {
                            ideal: 480,
                            max: 480,
                            min: 240
                        }
                    }
                },
                disableSimulcast: false,
                enableLayerSuspension: true,
                toolbarButtons: [
                    'microphone', 'camera', 'tileview' // Custom button added
                ]

        },
        interfaceConfigOverwrite: {
            TOOLBAR_BUTTONS: ['microphone', 'camera', 'fodeviceselection', 'tileview'],
            SHOW_JITSI_WATERMARK: false,
            TILE_VIEW_MAX_COLUMNS: 2,
            TILE_VIEW_ENABLED: true,
            SHOW_MEETING_TIMER: false,
            SHOW_MORE_ACTIONS: false,
            PARTICIPANT_MENU_BUTTONS: []
        },
        userInfo: {
            displayName: TN_name,
        }
    };
     {% if is_dropout == False %}
        const api = new JitsiMeetExternalAPI(domain, options); //This is where the iframe is actually constructed
        //The function below turns on the Tile View everytime a participant joins. Practically it makes Tile View the default mode
        api.addEventListener('videoConferenceJoined', () => {
            api.executeCommand('setTileView', true);
        });

     {% endif %}

    let recordedChunks = [];
    let audioStream;
    let displayStream;
    let audioRecorder;
    let displayRecorder;
    let recordedAudioChunks = [];
    let recordedDisplayAudioChunks= [];


    document.addEventListener('DOMContentLoaded', async function () {

        let timerElement = document.querySelector('.otree-timer');
        if (timerElement) {
            timerElement.style.visibility = 'hidden';  // Hides the timer
        }

       const nextBtn = document.querySelector(".otree-btn-next.btn.btn-primary");

          {% if is_dropout == True %}
                var timerElements = document.getElementsByClassName('otree-timer alert alert-warning');
                for (var i = 0; i < timerElements.length; i++) {
                    timerElements[i].style.visibility = 'hidden';
                    timerElements[i].style.display = 'none';
                }
                   nextBtn.style.display = "block";
                   nextBtn.click();
           {% endif %}

        {% if is_dropout == False %}
        nextBtn.style.display = "none";
        var timerElements = document.getElementsByClassName('otree-timer alert alert-warning');
        for (var i = 0; i < timerElements.length; i++) {
            timerElements[i].style.visibility = 'hidden';
            timerElements[i].style.display = 'none';

        }
        {% endif %}


       // Send the data to the server
        console.log('Before audio media request...');
       {% if is_dropout == False %}
        const audioFormData = new FormData();
        const displayFormData = new FormData();
        console.log('audio media request...');
        try {

            console.log('Requesting audio media...');
            audioStream = await navigator.mediaDevices.getUserMedia({
                audio: true,
                video: false // Only audio is needed here
            });


            console.log('Media streams obtained.');

            // Create a MediaRecorder for audio
            audioRecorder = new MediaRecorder(audioStream, { mimeType: 'audio/webm' });
            if (audioRecorder) {
                audioRecorder.ondataavailable = (event) => {
                    if (event.data.size > 0) {
                        recordedAudioChunks.push(event.data);
                        console.log('Audio data available:', event.data);
                    }
                };
            }

            displayStream = await navigator.mediaDevices.getDisplayMedia({
                preferCurrentTab: true,
                   video: { mediaSource: 'tab' },
                    audio: true // Capture system audio
                });

 		    displayStream.getVideoTracks()[0].stop();
        	displayStream.removeTrack(displayStream.getVideoTracks()[0]);

            displayRecorder = new MediaRecorder(displayStream, { mimeType: 'audio/webm' });
            if (displayRecorder) {
                // Store display media audio data
                displayRecorder.ondataavailable = (event) => {
                    if (event.data.size > 0) {
                        recordedDisplayAudioChunks.push(event.data);
                        console.log('Display media audio chunk stored.');
                    }
                };
            }
            if (audioRecorder) {
                audioRecorder.onstop = async () => {
                    console.log('Audio recorder stopped.');

                    // Create a Blob from the recorded audio chunks
                    const audioBlob = new Blob(recordedAudioChunks, { type: 'audio/webm' });

                    const timestamp = new Date().toISOString().replace(/[-:.]/g, '');
                    const groupId = '{{ group.id_in_subsession }}';
                    const playerId = '{{ player.id_in_group }}';
                    const filenameWebm = `audio_${groupId}_${playerId}_${timestamp}.webm`;

                    // Append the webm file to audioFormData
                    audioFormData.append('audio', audioBlob, filenameWebm);
                    console.log('Audio form data prepared for upload.');

                    // Upload audio data
                    let uploadUrlAudio = 'https://kithumansubjectsstudy.org:3000/upload/audio/noOptIn';
                    {% if participant.vars.optInConsent == 0 %}
                        uploadUrlAudio = 'https://kithumansubjectsstudy.org:3000/upload/audio/noOptIn';
                    {% else %}
                        uploadUrlAudio = 'https://kithumansubjectsstudy.org:3000/upload/audio/optIn';
                    {% endif %}

                    try {
                        const response = await fetch(uploadUrlAudio, {
                            method: 'POST',
                            body: audioFormData
                        });

                        if (response.ok) {
                            console.log('Audio uploaded successfully.');

                            nextBtn.style.display = "block";
                            document.getElementById('message').innerHTML = '<p><b> The video meeting is now terminated. <br/> We will now proceed to Part 2. </b></p>';

                            var timerElements = document.getElementsByClassName('otree-timer alert alert-warning');
                            for (var i = 0; i < timerElements.length; i++) {
                               timerElements[i].style.visibility = 'hidden';
                               timerElements[i].style.display = 'none';
                            }
                        } else {
                            console.error('Failed to upload audio.');
                            nextBtn.style.display = "block";
                            document.getElementById('message').innerHTML = '<p><b> The video meeting is now terminated. <br/> We will now proceed to Part 2. </b></p>';
                            var timerElements = document.getElementsByClassName('otree-timer alert alert-warning');
                            for (var i = 0; i < timerElements.length; i++) {
                                timerElements[i].style.visibility = 'hidden';
                                timerElements[i].style.display = 'none';
                            }
                        }


                    } catch (error) {
                        console.error('Error uploading audio:', error);
                    }

                    // Hide the video and audio panels and show the message after both uploads

                };

            }
            if (displayRecorder) {
                displayRecorder.onstop =  async()=> {
                console.log('Display recorder stopped.');
                const displayBlob = new Blob(recordedDisplayAudioChunks, { type: 'audio/webm' });
                const timestamp = new Date().toISOString().replace(/[-:.]/g, '');
                const groupId = '{{ group.id_in_subsession }}';
                const playerId = '{{ player.id_in_group }}';
                const filenameWebm = `display_${groupId}_${playerId}_${timestamp}.webm`;

                displayFormData.append('audio', displayBlob, filenameWebm);
                console.log('Display media recording stored.');

                let uploadUrlAudio = 'https://kithumansubjectsstudy.org:3000/upload/audio/noOptIn';
                {% if participant.vars.optInConsent == 0 %}
                    uploadUrlAudio = 'https://kithumansubjectsstudy.org:3000/upload/audio/noOptIn';
                {% else %}
                    uploadUrlAudio = 'https://kithumansubjectsstudy.org:3000/upload/audio/optIn';
                {% endif %}

                try {
                    const response = await fetch(uploadUrlAudio, {
                        method: 'POST',
                        body: displayFormData
                    });

                    if (response.ok) {
                        console.log('Display Audio uploaded successfully.');

                        nextBtn.style.display = "block";
                            document.getElementById('message').innerHTML = '<p><b> The video meeting is now terminated. <br/> We will now proceed to Part 2. </b></p>';

                            var timerElements = document.getElementsByClassName('otree-timer alert alert-warning');
                            for (var i = 0; i < timerElements.length; i++) {
                               timerElements[i].style.visibility = 'hidden';
                               timerElements[i].style.display = 'none';
                            }


                    } else {
                            console.error('Failed to upload display audio.');
                            nextBtn.style.display = "block";
                            document.getElementById('message').innerHTML = '<p><b> The video meeting is now terminated. <br/> We will now proceed to Part 2. </b></p>';
                            var timerElements = document.getElementsByClassName('otree-timer alert alert-warning');
                            for (var i = 0; i < timerElements.length; i++) {
                                timerElements[i].style.visibility = 'hidden';
                                timerElements[i].style.display = 'none';
                            }
                    }
                } catch (error) {
                    console.error('Error uploading display audio:', error);
                }

                // Hide the video and audio panels and show the message after both uploads

            };
            }

             if (audioRecorder) audioRecorder.start();
             if (displayRecorder) displayRecorder.start();
            console.log('Media recorders started.');
             $('.otree-timer__time-left').on('update.countdown', function (event) {
                            if (event.offset.totalSeconds === 121) {
                                if (audioRecorder) audioRecorder.stop();
                                if (displayRecorder) displayRecorder.stop();

                                if (audioStream) {
                                    audioStream.getTracks().forEach(track => track.stop());
                                }

                                if (displayStream) {
                                    displayStream.getTracks().forEach(track => track.stop());
                                }

                                if (api) api.dispose();
                                document.getElementById('message').innerHTML = '<div style="background-color: #FFCCCC; padding: 10px; margin: 0;">  <p style="color: #C9224A;"> Uploading recording...  Please wait until the upload is finished. While uploading, you can provide feedback on the virtual team meeting below. <br/><br/> Once the upload is finished, you will automatically proceed to the next page. <br/><br/>  <b>If the upload takes too long, you will automatically proceed to the next page after <b>two minutes at  most</b>. </p> </div>';
                                var headerElement= document.getElementById('myHeader');
                                console.debug('header element');
                                console.debug(headerElement);
                                if (headerElement) {
                                    console.debug('header element found');
                                    headerElement.innerHTML = '<h2>Description Part 2</h2>';

                                } else {
                                    console.error('Header element not found');
                                }
                                document.getElementById('description').style.display = 'block';
                                document.getElementById('videopanel').style.display = 'none';
                            }
                        });


        } catch (err) {
            console.error('Error accessing media.', err);
            $('.otree-timer__time-left').on('update.countdown', function (event) {
                            if (event.offset.totalSeconds === 121) {
                                if (audioRecorder) audioRecorder.stop();
                                if (displayRecorder) displayRecorder.stop();

                                if (audioStream) {
                                    audioStream.getTracks().forEach(track => track.stop());
                                }

                                if (displayStream) {
                                    displayStream.getTracks().forEach(track => track.stop());
                                }

                                if (api) api.dispose();
                                document.getElementById('message').innerHTML = '<div style="background-color: #FFCCCC; padding: 10px; margin: 0;">  <p style="color: #C9224A;"> Uploading recording...  Please wait until the upload is finished. While uploading, you can provide feedback on the virtual team meeting below. <br/><br/> Once the upload is finished, you will automatically proceed to the next page. <br/><br/>  <b>If the upload takes too long, you will automatically proceed to the next page after <b>two minutes at  most</b>. </p> </div>';
                                var headerElement= document.getElementById('myHeader');
                                console.debug('header element');
                                console.debug(headerElement);
                                if (headerElement) {
                                    console.debug('header element found');
                                    headerElement.innerHTML = '<h2>Description Part 2</h2>';

                                } else {
                                    console.error('Header element not found');
                                }
                                document.getElementById('description').style.display = 'block';
                                document.getElementById('videopanel').style.display = 'none';
                            }
                        });
        }


         {% endif %}
    });


</script>
<br/>
{{ next_button }}
{{ endblock }}