
{% block global_styles %}
<style>

        body {
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f9f9f9;
        }
        .my-box {
            border: 1px solid #ccc;
            padding: 20px;
            background-color: #ffffff;
            text-align: center;
            position: relative;
        }
        .rotating-time {
            display: inline-block;
            font-size: 24px;
            margin-top: 20px;
            animation: rotate 2s linear infinite;
        }
        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

</style>
{% endblock %}

{% block content %}

{{ if player.waitpage_too_long == True }}
 <div class="my-box">
     <div id="dropout" class="dropout" style="background-color: #FF7F7F; padding: 10px; margin: 0;">
            You already waited for more than <b>five minutes</b> to create a team for Stage 2.
            <br>
            <br>
            If you do not wish to wait longer, you have now the opportunity to leave the study now.
            <br>
            <br>
            In this case, <b>please return your submission</b> and, afterwards, we will <b> send you a bonus payment of <u>£1.50</u> for your time</b>.
            <br>
            <br>
            If you leave this study, <b>please close this tab!</b>
            <br>
            <b>Click
                <a href="https://app.prolific.com/submissions/complete?cc=xx"
                   target="_blank"
                   onclick="window.open(this.href, '_blank'); window.close(); return false;">
                    <b>here</b>
                </a>
                to be redirected to Prolific.</b>
            <br>
            <br>
            If you leave the study now, you still might have the opportunity to participant in Part 2 of this study at a later time.
            <br>
        </div>
  </div>
{{ else }}
    <div class="my-box">
        <h2>Please wait until your team members arrive.</h2>
        <p id="player-count"> {{ subsession.waitCount }} out of 4 players have arrived.</p>
        <div class="rotating-time">⏳</div>

    </div>
{{ endif }}

<script>
    function reloadPage() {
        setTimeout(function() {
            location.reload();
        }, 5000); // Reload interval from js_vars
    }
    window.onload = reloadPage;
</script>
{% endblock %}
